.body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: black;
}
#contenedor{
    background-color: white;
}

#instagram{
    font-family: 'Rampart One', cursive;
}


.tab-pane {
    background-color:grey;
}


